/output
/.auto.deps
/.config.cmd
/.config.old
/.config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
/.DS_Store
*.cscope_file_list
*.layout
doxygen/*
!doxygen/doxyfile
*.gch
*.out
**/bin
**/build*
**/obj
**/node_modules
.vscode
